@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@300;400;500;600;700&family=Open+Sans:wght@300;400;600;700&display=swap');

// Primary and theme colors
$white: #FFFFFF;

$primary-gray: #353535;
$primary-green: #A7CE4A;
$secondary-gray: #757575;

$bg-dark-gray: #E9E9E9;
$bg-light-gray: #F5F6F6;

$secondary-green: #E9F3D2;
$secondary-yellow: #FFEDC7;
$secondary-blue: #B8C6CE;


//Typography

$heading-font-family: 'Barlow', sans-serif;
$body-font-family: 'Open Sans', sans-serif;
