

<!-- HEADER  ../styles/header.section.scss -->

<nav class="header">
  <div class="header__logo">
    <img src="../assets/svg/logo.svg" alt="brand_logo">
  </div>
  <div class="header__navigation">
    <div class="header__navigation-item">Workouts</div>
    <div class="header__navigation-item">Log In</div>
    <div class="header__navigation-item">ES</div>
  </div>
</nav>


<!-- MAIN  ../styles/main.section.scss -->

<div class="main">
  <div class="main__logo">
    <img src="../assets/svg/logo.svg" alt="brand_logo">
  </div>
  <h2 class="main__subtitle">
    Sagittis, adipiscing habitasse lobortis lorem lacinia pharetra, at. In enim metus, vel ultricies luctus tincidunt amet. Bibendum vitae faucibus varius.
  </h2>
  <div class="main__start">
    <button>start now</button>
  </div>
  <div class="main__login">
    Log In
  </div>
</div>


<!-- STORE// ../styles/store.section.scss -->

<div class="store">
  <div class="store__container">
    <div class="store__container-icon">
      <img src="../assets/svg/icon.svg" alt="icon">
    </div>
    <div class="store__container-title">train everywhere</div>
    <h2 class="store__container-header">Mauris neque pretium sollicitudin turpis</h2>
    <h3 class="store__container-subheader">In enim metus, vel ultricies luctus tincidunt amet. Bibendum vitae faucibus varius.</h3>
    <div class="store__container-providers">
      <img src="../assets/store_providers.png" alt="store_providers">
    </div>
  </div>
  <div class="store__container">
    <div class="store__container-phone">
  </div>
  </div>
</div>
